@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-image: url(fhouse-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main-block{
    width: 320px;
    height: 35%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 10px;
}

.title{
    font-size: 25px;
    width: 93%;
    height: 30px;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

a{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
}

a:hover{
    background-image: url(fhouse-bg.png);
    background-size: cover;
    transition: background-image 0.3s ease;
}